<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nome do Sistema - Home</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <img src="./images/logo-removebg-preview.png" alt="">
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Produtos</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero">
        <h2>Bem-vindo ao nosso sistema de equipamentos audiovisuais</h2>
        <p>Oferecemos as melhores soluções para eventos e produções audiovisuais</p>
        <button>Conheça nossos produtos</button>
    </section>

    <section class="features">
        <h2>Recursos do sistema</h2>
        <div class="feature">
            <img src="./images/download (1).jpg" alt="Ícone 1">
            <h3>Recurso 1</h3>
            <p>Descrição do recurso 1</p>
        </div>
        <div class="feature">
            <img src="./images/download (2).jpg" alt="Ícone 2">
            <h3>Recurso 2</h3>
            <p>Descrição do recurso 2</p>
        </div>
        <div class="feature">
            <img src="./images/download (3).jpg" alt="Ícone 3">
            <h3>Recurso 3</h3>
            <p>Descrição do recurso 3</p>
        </div>
        <div class="feature">
            <img src="./images/download.jpg" alt="Ícone 1">
            <h3>Recurso 1</h3>
            <p>Descrição do recurso 1</p>
        </div>
        <div class="feature">
            <img src="./images/images.jpg" alt="Ícone 1">
            <h3>Recurso 1</h3>
            <p>Descrição do recurso 1</p>
        </div>
        <div class="feature">
            <img src="./images/datashowescolar.webp" alt="Ícone 1">
            <h3>Recurso 1</h3>
            <p>Descrição do recurso 1</p>
        </div>
    </section>

    <section class="cta">
        <h2>Entre em contato conosco</h2>
        <p>Para obter mais informações sobre nossos produtos e serviços, entre em contato conosco agora</p>
        <button>Contato</button>
    </section>

    <div class="rodape-inferior">
        <div class="direitos autorais">
            <p class="texto">
                Copyright@2023 Todos os direitos reservados | Politica de privacidade | Feito pelo grupo <span>Roberto,
                    Lais e Pietra Valentina</span>
            </p>
        </div>
    </div>
</body>

</html>