<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Reserva</title>
    <!-- styles -->
    <link rel="stylesheet" href="./css/styles.css" />
    <!--Fonts-->
    <link href="https://fonts.cdnfonts.com/css/sf-ui-text-2" rel="stylesheet">
</head>

<body>
    <section class="header-cadastro" id="background">
        <img src="./images/logo-removebg-preview.png" alt="logo da escola">
        <h1>Olá, Bem vindo!</h1>
        <p>Faça seu cadastro</p>
        <button>Cadastre-se pelo LinkedIn</button>
        <p><label for="Nome" class="">Nome:</label>
            <input type="text" placeholder="Nome" id="name-register">
        </p>
        <p>
            <label for="Sobrenome" class="sobrenome"></label>
            <input type="text" placeholder="Sobrenome" id="name-second">
        </p>

        <p><label for="Email(obrigatório)" class="">Email:</label>
            <input type="email" placeholder="Email(obrigatório)" id="email">
        </p>

        <p><label for="Função(obrigatório)" class="">Função:</label>
            <input type="text" placeholder="Função(obrigatório)" id="funcao">
        </p>

        <p>
            <label for="password">Senha</label>
            <input type="password" placeholder="Senha" id="password-first">
        </p>

        <p>
            <label for="Confirme a senha" class="">Confirme a senha:</label>
            <input type="password" placeholder="Confirme a senha" id="password-second">
        </p>
        <button>Entrar</button>
        <button>Criar conta</button>
    </section>

    <script src="./js/script.js"></script>
</body>