<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda de Reservas de Equipamentos Audiovisuais</title>
</head>

<body>
    <h1>Agenda de Reservas de Equipamentos Audiovisuais</h1>

    <h2>Selecione o mês:</h2>
    <select id="mes">
        <option value="01">Janeiro</option>
        <option value="02">Fevereiro</option>
        <option value="03">Março</option>
        <option value="04">Abril</option>
        <option value="05">Maio</option>
        <option value="06">Junho</option>
        <option value="07">Julho</option>
        <option value="08">Agosto</option>
        <option value="09">Setembro</option>
        <option value="10">Outubro</option>
        <option value="11">Novembro</option>
        <option value="12">Dezembro</option>
    </select>

    <h2>Selecione o dia:</h2>
    <select id="dia"></select>

    <h2>Selecione o horário:</h2>
    <select id="horario">
        <option value="08:00">08:00</option>
        <option value="09:00">09:00</option>
        <option value="10:00">10:00</option>
        <option value="11:00">11:00</option>
        <option value="12:00">12:00</option>
        <option value="13:00">13:00</option>
        <option value="14:00">14:00</option>
        <option value="15:00">15:00</option>
        <option value="16:00">16:00</option>
        <option value="17:00">17:00</option>
        <option value="18:00">18:00</option>
        <option value="19:00">19:00</option>
        <option value="20:00">20:00</option>
        <option value="21:00">21:00</option>
        <option value="22:00">22:00</option>
    </select>

    <button onclick="reservar()">Reservar</button>

    <div class="direitos autorais">
        <p class="texto">
            Copyright@2023 Todos os direitos reservados | Politica de privacidade | Feito pelo grupo <span>Roberto,
                Lais e Pietra Valentina</span>
        </p>
    </div>

    <script src="script.js"></script>
</body>

</html>